.card-wrapper::-webkit-scrollbar {
    width: 0;
}

.card-wrapper {
    flex-direction: row;
}

.newgift-container::-webkit-scrollbar {
    width: 0;
}

/* .backtotop {
    transition: 0.3s;
} */

.backtotop:hover {
    transform: scale(1.3);
}
